.banner{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(14, 11, 11);
  font-size: 50px;
  color: azure;
  font-weight: bolder;
  padding: 10px;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(14, 11, 11);
  font-size: 50px;
  color: azure;
  font-weight: bolder;
  padding: 10px;
} 

.cards{
  background-color: gray;
  padding: 30px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap:2rem;
}

.cartNo{
  border:2px solid black;
  padding:4px;
  border-radius: 10px;
}

.cartNo:hover{
  background-color: black;
  color:white;
}

.badge{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: end;
}